In [1]:
import csv
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [122]:
DF = pd.read_csv('../InOrbit_Dec15/reparsed_logs/scen201/uelog_4457809c4801.csv')

===== remove unwanted columns =====

In [65]:
pf = DF.drop(DF.columns[[4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]],axis=1)

===== removes rows not containing RSRPs =====

In [66]:
pf = pf[pd.notnull(pf['RSRP'])]

===== check the data type of entry =====

In [72]:
pf['cellID'][:1]

2    75142610569217
Name: cellID, dtype: int64

===== change data type to int ====

In [116]:
pf[['cellID','RSRP']] = pf[['cellID','RSRP']].astype(int)
pf.head()

                       Time  UEID          cellID  RSRP
2   2015-12-15 09:47:00.049   162  75142610569217    59
3   2015-12-15 09:47:00.049   162  75142601070864    59
4   2015-12-15 09:47:00.049   162  75142601070866    54
5   2015-12-15 09:47:00.049   162  75142610569473    51
17  2015-12-15 09:47:01.050   162  75142610569217    60

#### selecting data by interger indexing
> * .iloc to explicity support only integer indexing, 
> * .loc to explicity support only label indexing

In [ ]:
pf.iloc[[2]]

In [ ]:
pf.loc[[2]]

===== groupby =====

In [117]:
group1 = pf.groupby(['UEID','cellID'])

===== How to get each groupby iterator by key =====

In [228]:
dict(list(group1)).keys()

[(162, 75142601070864),
 (162, 75142601070866),
 (214, 75142610569729),
 (206, 75142601070866),
 (206, 75142610569729),
 (162, 75142610569729),
 (214, 75142601070864),
 (206, 75142610569217),
 (162, 75142610569217),
 (162, 75142610569473),
 (214, 75142601070866),
 (214, 75142610569217),
 (214, 75142610569473)]

In [218]:
group1.get_group((162, 75142601070864)).head()

                       Time  UEID          cellID  RSRP
3   2015-12-15 09:47:00.049   162  75142601070864    59
18  2015-12-15 09:47:01.050   162  75142601070864    59
33  2015-12-15 09:47:02.250   162  75142601070864    59
44  2015-12-15 09:47:03.250   162  75142601070864    58
60  2015-12-15 09:47:04.251   162  75142601070864    59

In [223]:
pf.loc[group1.groups[(162, 75142601070864)]].head()

                       Time  UEID          cellID  RSRP
3   2015-12-15 09:47:00.049   162  75142601070864    59
18  2015-12-15 09:47:01.050   162  75142601070864    59
33  2015-12-15 09:47:02.250   162  75142601070864    59
44  2015-12-15 09:47:03.250   162  75142601070864    58
60  2015-12-15 09:47:04.251   162  75142601070864    59

===== get each group as a DataFrame in a loop =====

In [229]:
for (ue,cell), group in group1:
    print 'this is the (%s,%s) group' %(ue,cell)
    print group['RSRP'].describe()
    print '\n'

this is the (162,75142601070864) group
count    87.000000
mean     58.724138
std       0.710219
min      56.000000
25%      58.000000
50%      59.000000
75%      59.000000
max      60.000000
Name: RSRP, dtype: float64


this is the (162,75142601070866) group
count    76.000000
mean     56.434211
std       0.997805
min      54.000000
25%      56.000000
50%      57.000000
75%      57.000000
max      58.000000
Name: RSRP, dtype: float64


this is the (162,75142610569217) group
count    87.000000
mean     59.448276
std       0.924582
min      56.000000
25%      59.000000
50%      60.000000
75%      60.000000
max      61.000000
Name: RSRP, dtype: float64


this is the (162,75142610569473) group
count    35.000000
mean     51.457143
std       0.980482
min      50.000000
25%      51.000000
50%      51.000000
75%      52.000000
max      54.000000
Name: RSRP, dtype: float64


this is the (162,75142610569729) group
count    57.000000
mean     49.175439
std       1.351227
min      46.000000
25%      49.000000
50%      49.000000
75%      50.000000
max      54.000000
Name: RSRP, dtype: float64


this is the (206,75142601070866) group
count    143.000000
mean      53.097902
std        3.938461
min       45.000000
25%       49.500000
50%       55.000000
75%       56.000000
max       57.000000
Name: RSRP, dtype: float64


this is the (206,75142610569217) group
count    147.000000
mean      52.557823
std        2.548514
min       47.000000
25%       50.000000
50%       54.000000
75%       55.000000
max       56.000000
Name: RSRP, dtype: float64


this is the (206,75142610569729) group
count    146.000000
mean      49.993151
std        1.341623
min       47.000000
25%       49.000000
50%       50.000000
75%       51.000000
max       53.000000
Name: RSRP, dtype: float64


this is the (214,75142601070864) group
count    87.000000
mean     59.275862
std       0.710219
min      57.000000
25%      59.000000
50%      59.000000
75%      60.000000
max      61.000000
Name: RSRP, dtype: float64


this is the (214,75142601070866) group
count    61.000000
mean     56.918033
std       1.099925
min      54.000000
25%      56.000000
50%      57.000000
75%      58.000000
max      59.000000
Name: RSRP, dtype: float64


this is the (214,75142610569217) group
count    89.000000
mean     58.674157
std       0.997443
min      57.000000
25%      58.000000
50%      58.000000
75%      59.000000
max      62.000000
Name: RSRP, dtype: float64


this is the (214,75142610569473) group
count     8.000000
mean     52.000000
std       1.195229
min      50.000000
25%      51.750000
50%      52.000000
75%      52.250000
max      54.000000
Name: RSRP, dtype: float64


this is the (214,75142610569729) group
count    54.000000
mean     49.962963
std       0.989815
min      48.000000
25%      49.000000
50%      50.000000
75%      50.000000
max      53.000000
Name: RSRP, dtype: float64

In [219]:
group.head()

                         Time  UEID          cellID  RSRP
2077  2015-12-15 09:48:49.738   214  75142610569729    53
2492  2015-12-15 09:49:10.346   214  75142610569729    50
3819  2015-12-15 09:50:11.772   214  75142610569729    52
4000  2015-12-15 09:50:21.977   214  75142610569729    52
4228  2015-12-15 09:50:32.181   214  75142610569729    49

In [213]:
group.reset_index().head()

   index                     Time  UEID          cellID  RSRP
0   2077  2015-12-15 09:48:49.738   214  75142610569729    53
1   2492  2015-12-15 09:49:10.346   214  75142610569729    50
2   3819  2015-12-15 09:50:11.772   214  75142610569729    52
3   4000  2015-12-15 09:50:21.977   214  75142610569729    52
4   4228  2015-12-15 09:50:32.181   214  75142610569729    49

===== Apply a function : output a DataFrame =====

In [121]:
group1.mean()

                          RSRP
UEID cellID
162  75142601070864  58.724138
     75142601070866  56.434211
     75142610569217  59.448276
     75142610569473  51.457143
     75142610569729  49.175439
206  75142601070866  53.097902
     75142610569217  52.557823
     75142610569729  49.993151
214  75142601070864  59.275862
     75142601070866  56.918033
     75142610569217  58.674157
     75142610569473  52.000000
     75142610569729  49.962963

===== convert to a Dict =====

In [89]:
dG1 = dict(list(group1))
dG1[(162, 75142601070864)].RSRP.describe()

count    87.000000
mean     58.724138
std       0.710219
min      56.000000
25%      58.000000
50%      59.000000
75%      59.000000
max      60.000000
Name: RSRP, dtype: float64

===== groupby a Series or part of the DataFrame =====

In [111]:
grprsrp = pf['RSRP'].groupby([pf['UEID'],pf['cellID']])
sorted(dict(list(grprsrp)).keys())

[(162, 75142601070864),
 (162, 75142601070866),
 (162, 75142610569217),
 (162, 75142610569473),
 (162, 75142610569729),
 (206, 75142601070866),
 (206, 75142610569217),
 (206, 75142610569729),
 (214, 75142601070864),
 (214, 75142601070866),
 (214, 75142610569217),
 (214, 75142610569473),
 (214, 75142610569729)]

In [230]:
pf['RSRP'].groupby([pf['UEID'],pf['cellID']])

===== output a Series or DataFrame by key =====

In [115]:
dict(list(grprsrp))[(162, 75142610569217)][:4]

2     59
17    60
32    60
43    60
Name: RSRP, dtype: int64

In [171]:
DF.columns

Index([u'Time', u'UEID', u'cellID', u'RSRP', u'sbcqi0', u'sbcqi1', u'sbcqi2', u'sbcqi3', u'sbcqi4', u'sbcqi5', u'sbcqi6', u'sbcqi7', u'sbcqi8', u'sbcqi9', u'sbcqi10', u'sbcqi11', u'sbcqi12', u'wbcqi', u'RI', u'TM', u'isedgeUE'], dtype='object')

===== the above cases are grouped by rows, here is how to group by columns =====

In [178]:
dfsbcqi = pd.DataFrame(DF[DF.columns[[0,1,4,5,6,7,8,9,10,11,12,13,14,15,16,17]]])
dfsbcqi = dfsbcqi[pd.notnull(dfsbcqi.sbcqi0)]
group_map = {'Time':'time','UEID':'ueID','sbcqi0': 'sbcqi','sbcqi1': 'sbcqi','sbcqi2': 'sbcqi','sbcqi3': 'sbcqi',
             'sbcqi4': 'sbcqi','sbcqi5': 'sbcqi','sbcqi6': 'sbcqi','sbcqi7': 'sbcqi',
            'sbcqi8': 'sbcqi','sbcqi9': 'sbcqi','sbcqi10': 'sbcqi','sbcqi11': 'sbcqi',
            'sbcqi12': 'sbcqi','wbcqi': 'wbcqi',}
grpcqi = dfsbcqi.groupby(group_map,axis=1)
grpcqi.sum().head()

   sbcqi                     time  ueID  wbcqi
0    171  2015-12-15 09:47:00.049   198     13
1    102  2015-12-15 09:47:00.049   162      8
6    172  2015-12-15 09:47:00.250   198     13
7    101  2015-12-15 09:47:00.250   162      8
8    172  2015-12-15 09:47:00.250   198     13

===== aggregation =====

In [184]:
def max_min(arr):
    return arr.max() - arr.min()

group1.agg(max_min)

                     RSRP
UEID cellID
162  75142601070864     4
     75142601070866     4
     75142610569217     5
     75142610569473     4
     75142610569729     8
206  75142601070866    12
     75142610569217     9
     75142610569729     6
214  75142601070864     4
     75142601070866     5
     75142610569217     5
     75142610569473     4
     75142610569729     5

===== pivot table =====

In [194]:
pvt = pf.pivot_table(index=['UEID', 'cellID'])
pvt

                          RSRP
UEID cellID
162  75142601070864  58.724138
     75142601070866  56.434211
     75142610569217  59.448276
     75142610569473  51.457143
     75142610569729  49.175439
206  75142601070866  53.097902
     75142610569217  52.557823
     75142610569729  49.993151
214  75142601070864  59.275862
     75142601070866  56.918033
     75142610569217  58.674157
     75142610569473  52.000000
     75142610569729  49.962963

In [195]:
pf.head()

                       Time  UEID          cellID  RSRP
2   2015-12-15 09:47:00.049   162  75142610569217    59
3   2015-12-15 09:47:00.049   162  75142601070864    59
4   2015-12-15 09:47:00.049   162  75142601070866    54
5   2015-12-15 09:47:00.049   162  75142610569473    51
17  2015-12-15 09:47:01.050   162  75142610569217    60

===== pivot: cannot deal with duplicate entries; pf[:5] wouldn't work =====

In [201]:
pf[:4].pivot('UEID','cellID','RSRP')

cellID  75142601070864  75142601070866  75142610569217  75142610569473
UEID
162                 59              54              59              51

### Merge() on multilevel indexings:
####Examples

In [3]:
from pandas import DataFrame
import pandas as pd
df1 = DataFrame([[1, 3,7],[2,4,8]])
df1.columns=[['cell1','cell1','cell1'],['t','sb1','sb2']]
df2 = DataFrame([[3, 5,8],[2,6,9]])
df2.columns=[['cell2','cell2','cell2'],['t','sb1','sb2']]
pd.merge(df1, df2, left_on=[('cell1', 't')], right_on=[('cell2', 't')],how='outer')

  cell1         cell2
      t sb1 sb2     t sb1 sb2
0     1   3   7   NaN NaN NaN
1     2   4   8     2   6   9
2     3 NaN NaN     3   5   8

In [4]:
df1 = DataFrame([[1, 3,7],[2,4,8]])
df1.columns=[['time','cell1','cell1'],['t','sb1','sb2']]
df2 = DataFrame([[3, 5,8],[2,6,9]])
df2.columns=[['time','cell2','cell2'],['t','sb1','sb2']]
pd.merge(df1, df2, left_on=[('time', 't')], right_on=[('time', 't')],how='outer')

  time cell1     cell2
     t   sb1 sb2   sb1 sb2
0    1     3   7   NaN NaN
1    2     4   8     6   9
2    3   NaN NaN     5   8